<%- include('../includes/head')%>
<%- include('../includes/nav')%>

<div class="container">
  <!-- Botão voltar -->
  <ul class="pagination">
    <li class="page-item">
      <a class="btn btn-outline-secondary" onclick="history.go(-1);" aria-label="Previous">
        <span aria-hidden="true">&laquo; retornar</span>
      </a>
    </li>
  </ul>
  
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      
      <%- include('../includes/messages') %>
      <h1 class="text-center">Colaboradores da <%= empresa.nome %></h1>
      <p class="text-center lead">Selecione o colaborador que você deseja excluir ou editar:</p>
      </br></br> 

      <!-- Listagem dos colaboradores cadastrados de determinada empresa, caso existam -->
      <% if(colaboradoresFiltrados.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <% colaboradoresFiltrados.forEach(colaborador => { %> 
          <tr>
            <th><%= colaborador.nome %></th>
            <td style="text-align: center"><%= colaborador.cpf %></td>

            <td style="text-align: right">
              <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <a href="/colaborador/view/<%= colaborador._id %>" class="btn btn-outline-primary">Visualizar</a>
                <a href="/colaborador/index/<%= colaborador._id %>" class="btn btn-outline-secondary">Editar</a>

                <!-- Botão Modal -->
                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%= colaborador._id %>">
                  Apagar
                </a>
              </div>

              <!-- Modal -->
              <div style="text-align: left" class="modal fade" id="exampleModal<%= colaborador._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Atenção</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente <strong>apagar <%= colaborador.nome %></strong>?
                    </div>
                    <div class="modal-footer">
                      <a href="/colaborador/delete/<%= colaborador._id %>" class="btn btn-danger">Apagar</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                </div>
              </div>

              </div>
            </td>
          </tr>
          <% }); %>
        </table>
        </div>

        <!-- Caso não existam colaboradores cadastrados -->
        <% } else { %>
          <p class="text-center lead">Ainda não possuem colaboradores cadastrados.</p>
        <% } %>

      <!-- Botão para cadastro de novos colaboradores -->
      <form action="/colaborador/cadastro" method="POST">
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-primary btn-sm" href="/colaborador/cadastro/<%= empresa._id %>" role="button">
            Cadastrar Novo Colaborador
          </a>
        </div>
      </form>
    
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('../includes/footer')%>